<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!isSessionActive">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="decks_backup" href="/tabs/decks_backup">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
      <ion-label>Decks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test" href="/tabs/test">
      <ion-icon aria-hidden="true" name="flask"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
