<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!isSessionActive">
    <ion-tab-button tab="home" href="/tabs/home">
      <img src="assets/images/alien.png" alt="Home" class="tab-alien-icon" />
    </ion-tab-button>

    <ion-tab-button tab="decks_backup" href="/tabs/decks_backup">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
      <ion-label>{{ 'tabs.decks' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stories" href="/tabs/stories">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Stories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progression-map" href="/tabs/progression-map">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openMenu()">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
