<ion-header>
  <ion-toolbar>
    <ion-title>Text-to-Speech</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" aria-label="Close">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <!-- Language -->
    <ion-item lines="full">
      <ion-icon name="language" slot="start"></ion-icon>
      <div class="row">
        <ion-label>Language</ion-label>
        <ion-select class="end"
                    placeholder="Select"
                    [interface]="isIOS ? 'popover' : 'alert'"
                    [(ngModel)]="settings.ttsLanguage"
                    (ionChange)="ttsLanguageChange.emit()">
          <ion-select-option *ngFor="let lang of availableLanguages" [value]="lang.code">
            {{ lang.name }}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-item>

    <!-- Auto-speak -->
    <ion-item lines="full">
      <ion-icon name="volume-high" slot="start"></ion-icon>
      <div class="row">
        <ion-label>Auto-speak on card flip</ion-label>
        <ion-toggle class="end"
                    [(ngModel)]="settings.autoSpeak"
                    (ionChange)="autoSpeakChange.emit()">
        </ion-toggle>
      </div>
    </ion-item>

    <!-- (When ready, add these back the same way)
    <ion-item lines="none">
      <ion-icon name="speedometer" slot="start"></ion-icon>
      <div class="row">
        <ion-label>Speech Rate</ion-label>
        <ion-range class="fill" min="0.5" max="2.0" step="0.1" snaps
                   [(ngModel)]="settings.ttsRate"
                   (ionChange)="ttsRateChange.emit()"></ion-range>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="musical-notes" slot="start"></ion-icon>
      <div class="row">
        <ion-label>Pitch</ion-label>
        <ion-range class="fill" min="0.5" max="2.0" step="0.1" snaps
                   [(ngModel)]="settings.ttsPitch"
                   (ionChange)="ttsPitchChange.emit()"></ion-range>
      </div>
    </ion-item>
    -->
  </ion-list>
</ion-content>
