<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'settings.about' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" aria-label="Close">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>
        <h3>{{ 'settings.appName' | translate }}</h3>
      </ion-label>
    </ion-item>
    <ion-item button (click)="handleOpenBuyMeCoffee()">
      <ion-icon name="cafe" slot="start"></ion-icon>
      <ion-label class="coffee">
        <h3>{{ 'settings.buyMeCoffee' | translate }}<br />{{ 'settings.supportDev' | translate }}</h3>
      </ion-label>
      <ion-icon name="open-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div style="padding: 16px;">
    <ion-button 
      expand="block" 
      (click)="close()" 
      [style.--background]="buttonBackground"
      [style.--color]="buttonText">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      {{ 'settings.done' | translate }}
    </ion-button>
  </div>
</ion-footer>
