<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" aria-label="Close">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button detail (click)="handleOpenHelp()">
      <ion-icon name="help-circle" slot="start"></ion-icon>
      <ion-label>
        <h3>Help & Guide</h3>
        <p>Learn how to use the spaced repetition system</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>
        <h3>LA Languages App</h3>
      </ion-label>
    </ion-item>
    <ion-item button (click)="openBuyMeCoffee && openBuyMeCoffee()">
      <ion-icon name="cafe" slot="start"></ion-icon>
      <ion-label class="coffee">
        <h3>Buy me a coffee<br />Support the development of this app</h3>
      </ion-label>
      <ion-icon name="open-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
